@keyframes page_background_animation {
    0%    {background-color: #465892;}
    25%   {background-color: #546DA6;}
    50%   {background-color: #968EAF;}
    75%   {background-color: #6D5593;}
    90%   {background-color: #543D7B;}
    100%  {background-color: #465892;}
}

@keyframes peek_business_card_animation {
    0% {bottom: -20%;}
    100% {bottom: -2%;}
}

body {
    animation: page_background_animation 15s ease infinite;

    background-color: black;
    font-family: 'Comfortaa';
    /* font-family: 'Roboto', sans-serif; */
    color: white;
    overflow: hidden;
}

#landing_text {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#peek_business_card {
    position: absolute;
    left: 50%;
    bottom: -20%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.8);
}

#peek_business_card:hover {
    animation: peek_business_card_animation 2s ease forwards;
}

#main_business_card {
    width: 100px;
}